form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: bisque;
    border: black solid 2px;
    border-radius: 10px 10px;
    margin: 50px 20%;
    padding: 20px;
    min-width: 500px;
    
}
.Header {
    text-align: center;
}
input, select {
    padding: 10px;
    margin: 10px;
}
button {
    grid-column: 1/3;
    height: 30px;
    align-self: center;
    margin: 0 40%;
}
.Badge {
    min-width: 500px;
    background-color:bisque;
    color: black;
    border: black solid 2px;
    border-radius: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 20%;
    padding: 20px;
    min-width: 500px;
}
.Badge h1 {
    border-bottom: black 2px solid;
    grid-column: 1/3;
}
.Badge span {
    min-width: 250px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
}
.Badge p {
    grid-column: 1/3;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
}
